.ProductTop {
  /* border: 2px solid blue; */
  min-height: 80px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.Product {
  /* border: 2px solid blue; */
  min-height: 170px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
}

.Container {
  border: 1px solid #dcdcdc;
  /* padding-top: 10px; */
  background: white;
  /* padding-top: 5px; */
}

.ImageContainer {
  height: 100%;
  width: 180px;

  overflow: hidden;
  /* border: 2px solid blue; */
  /* padding: 0;
  margin: 0; */
  display: flex;
  align-items: center;
}

.Image {
  object-fit: cover;
  width: 140px;
  height: 140px;
  /* width: 99px; */
  display: block;
}

.ProductNameContainer {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}
