.ProductTop {
  min-height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.Product {
  min-height: 170px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Container {
  border: 1px solid #dcdcdc;
  background: white;
}

.ImageContainer {
  overflow: hidden;
  width: 140px;
  height: 140px;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ProductNameContainer {
  width: 70%;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  flex-wrap: wrap;
  margin-right: 10px;
  overflow-wrap: break-word;
  padding-left: 20px;
  font-size: 19px;
}

.ProductNameContainer:hover {
  color: orange;
}
@media (max-width: 1000px) {
  .ProductNameContainer {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .ProductNameContainer {
    font-size: 17px;
  }
}

@media (max-width: 800px) {
  .ProductNameContainer {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .ProductNameContainer {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .ImageContainer {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 400px) {
  .ImageContainer {
    overflow: hidden;
    width: 60px;
    height: 60px;
  }

  .Product {
    min-height: 90px;
    margin-right: 5px;
  }

  .ProductNameContainer {
    height: 120px;
    margin-left: 10px;
    font-size: 13px;
  }
}
