.Container {
  border: 1px solid #dcdcdc;
  background: white;
  box-shadow: 0 2px 3px #ccc;
}

.Proposition {
  width: 100%;
  background-color: white;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.Proposition:hover {
  background-color: #d3d3d3;
}

.ImageContainer {
  height: 100%;
  width: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Image {
  object-fit: cover;
  height: 65px;
  display: block;
}

.ProductNameContainer {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.ProductText {
  font-weight: 700;
}

.ProductTextHighlight {
  color: pink;
}

@media (max-width: 400px) {
  .ImageContainer {
    width: 50px;
    height: 50px;
  }

  .Image {
    object-fit: cover;
    height: 50px;
    display: block;
  }
}
