.Container {
  border: 1px solid #dcdcdc;
  /* padding-top: 10px; */
  background: white;
  /* padding-top: 5px; */
  box-shadow: 0 2px 3px #ccc;
}

.Proposition {
  width: 100%;
  /* height: 65px; */

  /* border: 2px solid green; */
  background-color: white;
  /* padding: 10px; */
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  /* border: 1px solid #dcdcdc; */
  cursor: pointer;
}

.Proposition:hover {
  background-color: #d3d3d3;
}

.ImageContainer {
  height: 100%;
  width: 70px;
  overflow: hidden;
  /* border: 2px solid blue; */
  /* padding: 0;
  margin: 0; */
  display: flex;
  align-items: center;
}

.Image {
  object-fit: cover;
  /* width: 100%; */
  height: 65px;
  display: block;
}

.ProductNameContainer {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}

@media (max-width: 400px) {
  .ImageContainer {
    width: 50px;
    height: 50px;
  }

  .Image {
    object-fit: cover;
    /* width: 100%; */
    height: 50px;
    display: block;
  }
}
