:global * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.Toolbar {
  width: 100%;
}

.ToolbarTop {
  width: 100%;
  height: 50px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 110px;
}

.Languages {
  height: 50px;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login {
  height: 100%;
  width: 90px;
  color: white;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.ToolbarMiddle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* padding: 0px 423px; */
  /* padding-left: 130px; */
}

.ToolbarBottom {
  width: 100%;
  height: 50px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 110px;
}

@media screen and (max-width: 800px) {
  .ToolbarMiddle {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .ToolbarTop {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .ToolbarTop {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.Tomato {
  width: 100%;
  height: 60px;
  background-color: tomato;
}
.Coral {
  width: 100%;
  height: 60px;
  background-color: coral;
}
.Oranged {
  width: 100%;
  height: 60px;
  background-color: orangered;
}
.Gold {
  width: 100%;
  height: 60px;
  background-color: gold;
}
.Darkorange {
  width: 100%;
  height: 70px;
  background-color: darkorange;
  margin-top: 30px;
}
