.Container {
  display: flex;
  margin-left: 50px;
}

.InputContainer {
  width: 600px;
  position: relative;
}

.Input {
  width: 600px;
  height: 100%;
  padding: 7px;
  font-size: 20px;
  border: none;
  background-color: rgb(255, 165, 0, 0.2);
}

.Button {
  width: 42px;
  height: 42px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 3px;
}

.Button:hover {
  background-color: rgb(255, 165, 0, 0.7);
}

.SearchIcon {
  width: 30px;
}

@media screen and (max-width: 1000px) {
  .InputContainer {
    width: 500px;
  }

  .Input {
    width: 500px;
  }
}

@media screen and (max-width: 900px) {
  .InputContainer {
    width: 400px;
  }
  .Input {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .Container {
    width: 100%;
    margin-left: 0px;
    justify-content: center;
  }

  .InputContainer {
    width: 80%;
  }
  .Input {
    width: 100%;
  }
}
