.Logo {
  font-size: 34px;
  position: relative;
  display: flex;
  margin-top: 5px;
}

.Kanten {
  font-weight: 700;
  display: inline;
}

.Meer {
  display: inline;
}
.And {
  display: inline;
  color: orange;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .Logo {
    margin-bottom: 20px;
  }
}
