.Container {
  background: #fff0e6;
  padding-left: 30px;
  padding-right: 30px;
}

.ResultsFor {
  max-width: 1200px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: grey;
  margin: auto;
}

.FilterProductsContainer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.Filters {
  width: 31%;
  min-height: 700px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products {
  width: 65%;
  min-height: 700px;
  background: white;
  padding-bottom: 30px;
}

@media (max-width: 700px) {
  .Container {
    background: #fff0e6;
    padding-left: 20px;
    padding-right: 20px;
  }
  .Filters {
    display: none;
  }

  .Products {
    width: 100%;
  }
}
